*{
    margin: 0;
    padding: 0;
}
#frame{
    margin-top: 0;
    position: relative;
}
#active{
    position: absolute;
    width: 90px;
    height: 4px;
    background-color: #e74e3e;
    bottom: 0;
}
ul{
    padding: 0 30px;
    margin: 0 auto;
    width: 797px;
    list-style: none;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-family: "黑体";
}

ul li{
    float: left;

}

ul li span{
    text-align: center;
    display: block;
    width: 90px;
    height: 38px;
    line-height: 38px;
}

ul li:nth-child(2n) span{
    font-size: 8px;
    width: 10px;
}

ul li:nth-child(2n+1){
    cursor: pointer;

}